
/* Root Variables */
:root {
    --ribbon-color: #ED2939;

    --dark-color: #36454F;

    --page-background-color: #F0F0F0;

    /* Nav Linear Gradient Colors */
    --nav-color-1: #F3FCE1;
    --nav-color-2: #BDF7EF;
    --nav-color-3: #B9DCF2;
    --nav-color-4: #D6C8EE;
    --nav-color-5: #F8C6DB;

    /* Dropdown Menu Color */
    --dropdown-color-1: #D37EEA;
    --dropdown-color-2: #FF69B4;
    --dropdown-color-3: #FF6A79;

    /* Dropdown Menu Font Color */
    --dropdown-text-color: #69FFB4;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */
.lato-small {
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.lato-large {
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
}

/* General Styling */
body {

}

.ribbon {
    height: 35px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 3px solid var(--dark-color);
    background-color: var(--ribbon-color);
    color: var(--dark-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header {
    background-image: linear-gradient(45deg, var(--nav-color-1), var(--nav-color-2), var(--nav-color-3), var(--nav-color-4), var(--nav-color-5));
    border-bottom: 1px solid var(--dark-color);

    
    position: sticky;
    top: 0px;
}

.logo {
    height: 60px;
    width: 60px;
    border: 5px solid var(--dark-color);
    border-radius: 50%;
}

.dropdown-menu {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;

    & li {
        list-style: none;
    }
}

.dropdown-content {
    display: none;
}

a {
    text-decoration: none;
}