
/* Root Variables */
:root {
    --ribbon-color: #ED2939;

    --dark-color: #36454F;

    --page-background-color: #F0F0F0;

    /* Nav Linear Gradient Colors */
    --nav-color-1: #F3FCE1;
    --nav-color-2: #BDF7EF;
    --nav-color-3: #B9DCF2;
    --nav-color-4: #D6C8EE;
    --nav-color-5: #F8C6DB;

    /* Dropdown Menu Color */
    --dropdown-color-1: #D37EEA;
    --dropdown-color-2: #FF69B4;
    --dropdown-color-3: #FF6A79;

    /* Dropdown Menu Font Color */
    --dropdown-text-color: #69FFB4;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */
.lato-small {
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.lato-medium {
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
}
.lato-large {
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
}

/* General Styling */
body {

}

.ribbon {
    height: 35px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 3px solid var(--dark-color);
    background-color: var(--ribbon-color);
    color: var(--dark-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header {
    background-image: linear-gradient(45deg, var(--nav-color-1), var(--nav-color-2), var(--nav-color-3), var(--nav-color-4), var(--nav-color-5));
    border-bottom: 1px solid var(--dark-color);
    height: 100px;
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    grid-template-rows: 1fr;

    position: sticky;
    top: 0px;
}

.logo {
    height: 60px;
    width: 60px;
    border: 5px solid var(--dark-color);
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
}

nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.dropdown-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;

    & li {
        list-style: none;
    }

    & #firstItem {
        cursor: pointer;
    }

    & #firstItem:hover .dropdown-content {
        display: block;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(45deg, var(--dropdown-color-1), var(--dropdown-color-2), var(--dropdown-color-3));
    padding: 5px;
    border-radius: 5px;

    & li a:hover {
        box-shadow: inset 0px -5px 1px 0px var(--dropdown-text-color);
        transition: 0.3s;
    }
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--dark-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.spacer {
    height: 100vh;
}

.sticky-container {
    height: 150vh;
}

.sticky-content {
    height: 150px;
    width: 300px;
    border-radius: 5px;
    background-color: yellow;

    position: sticky;
    top: -50px;
}
