
/* Root Variables */
:root {
    --ribbon-color: #ED2939;

    --dark-color: #36454F;

    --page-background-color: #F0F0F0;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Classes */
.lato-small {
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.lato-large {
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
}

/* General Styling */
body {

}

.ribbon {
    height: 35px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 3px solid var(--dark-color);
    background-color: var(--ribbon-color);
    color: var(--dark-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}